.table {
	background: none;
}
.table .row {
	border-bottom: none;
}
.pl {
	padding-left: 15px !important;
}
.border {
	margin-left: 3px;
	margin-right: 3px;
	border: 1px solid var(--ion-color-primary);
	border-radius: 10px;
}
