<ion-header>
  
  <app-toolbar
    [page]="this"
    [ShowDelete]="ShowDelete"
    [ShowSubmit]="ShowSubmit"
    [ShowApprove]="ShowApprove"
    [ShowDisapprove]="ShowDisapprove"
    [ShowChangeBranch]="ShowChangeBranch"
  >
  </app-toolbar>

</ion-header>

<ion-content appScrollbarTheme class="header-table">
  <!-- <app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message> -->
  <app-data-table
  style="width: fit-content; min-width: calc(100% - 32px)"
  class="box-shadow responsive"
  [rows]="items"
  [trackBy]="'Id'"
  [(selectedRows)]="selectedItems"
  [showSpinner]="pageConfig.showSpinner"
  [showFilter]="pageConfig.isShowSearch"
  [(query)]="query"
  (dataInfinite)="loadData($event)"
  (filter)="onDatatableFilter($event)"
  (sort)="onSort($event)"
  (selectedRowsChange)="changeSelection($event)"
>
  <datatable-column class="col-checkbox cell" [checkbox]="true"> </datatable-column>
  <datatable-column class="col-id cell" name="#" property="Id">
    <ng-template datatable-header-template>
      <div class="col-id cell" (click)="sortToggle('Id')">
        {{'Id' | translate}}
        <ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
        <ion-icon
          class="min-btn"
          (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
          *ngIf="query.Id"
          name="search"
          color="primary"
        ></ion-icon>
      </div>
    </ng-template>
    <ng-template let-i="row" datatable-cell-template>
      <div (click)="nav('pr-voucher-policy/'+i.Id,'forward')" class="col-id cell">{{i.Id}}</div>
    </ng-template>
  </datatable-column>

  <datatable-column class="cell" name="Voucher name" property="Name">
    <ng-template let-i="row" datatable-cell-template>
      <div (click)="nav('pr-voucher-policy/'+i.Id,'forward')" class="cell">{{i.Name}}</div>
    </ng-template>
  </datatable-column>

  <datatable-column class="cell" filterControlType="NumberOfCoupon" name="Number of coupon" property="NumberOfCoupon">
    <ng-template let-i="row" datatable-cell-template>
      <div class="cell">{{i.NumberOfCoupon}}</div>
    </ng-template>
  </datatable-column>

  <datatable-column class="cell" name="Minimum order value" property="MinOrderValue">
    <ng-template datatable-filter-template> </ng-template>
    <ng-template let-i="row" datatable-cell-template>
      <div class="cell">
        <ion-text *ngIf="i.MinOrderValue" color="primary">{{i.MinOrderValue | number: '1.0-0'}} đ</ion-text>
      </div>
    </ng-template>
  </datatable-column>

  <datatable-column class="cell" name="Time application" property="FromDate">
    <ng-template datatable-filter-template> </ng-template>
    <ng-template let-i="row" datatable-cell-template>
      <div class="cell">
        <ion-text color="primary">{{i.FromDate | date: 'dd/MM/yyyy'}} -> {{i.ToDate | date: 'dd/MM/yyyy'}}</ion-text>
      </div>
    </ng-template>
  </datatable-column>

  <datatable-column class="cell" name="Status" property="Status">
    <ng-template datatable-filter-template>
      <select
        (change)="refresh()"
        class="c-input c-dropdown"
        [ngModelOptions]="{standalone: true}"
        [(ngModel)]="query.Status"
        [ngClass]="{active: query.Status}"
      >
        <option value="">{{'All' | translate}}</option>
        <option disabled value="">----------</option>
        <option *ngFor="let t of statusList" [value]="t.Code">{{t.Name}}</option>
      </select>
    </ng-template>
    <ng-template let-i="row" datatable-cell-template>
      <div class="cell">
        <ion-text>{{i.Status}}</ion-text>
      </div>
    </ng-template>
  </datatable-column>

</app-data-table>


  <ion-infinite-scroll
    color="primary"
    threshold="20%"
    (ionInfinite)="loadData($event)"
    [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData"
  >
    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
