ion-checkbox {
	margin-left: 1px !important;
}
ion-checkbox::part(container) {
	border-radius: 6px;
}
.ml-10 {
	margin-left: 10px;
}
.py-1 {
	padding-top: 5px;
	padding-bottom: 5px;
}
.px-1 {
	padding-left: 5px;
	padding-right: 5px;
}
.cell {
	padding: 2px 2px !important;

	.info-color {
		margin-left: 4px;
	}

	.c-input {
		height: 36px;
	}
}
.pr-checkbox {
	display: flex;
	margin-top: 20px;
	ion-label {
		margin-left: 10px;
		font-size: 12pt;

		margin-top: 5px;
	}
}
.pr-checkbox-content {
	margin-top: 10px;
	border: 1px dotted var(--ion-color-primary);
	//background-color:var(--ion-color-primary);
}
.d-input {
	width: 100%;
	height: 32px;
	border-radius: 5px;
	border: 1px solid #ccc;
	outline: none;
	padding: 5px;
}
.level-header {
	background-color: var(--ion-color-primary);
	padding-top: 5px;
	padding-bottom: 5px;
}
.ng-option {
	position: absolute;
	z-index: 999999 !important;
}
.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.br-bottom {
	border-bottom: 1px solid #ccc;
}
.table {
	width: 100%;

	.col-name {
		max-width: 500px !important;
		min-width: 500px !important;
	}
	.col-uom {
		max-width: 110px !important;
		min-width: 110px !important;
	}
	.col-price {
		max-width: 150px !important;
		min-width: 150px !important;
	}
	.col-value {
		max-width: 150px !important;
		min-width: 150px !important;
	}
	.col-discount {
		max-width: 200px !important;
		min-width: 200px !important;
	}
}
.modal-filter {
	display: flex;
    flex-direction: column;
	ion-button {
		align-self: flex-end;
	}
}