<ion-header>
  <app-toolbar
    [page]="this"
    [ShowDelete]="ShowDelete"
    [ShowSubmit]="ShowSubmit"
    [ShowApprove]="ShowApprove"
    [ShowDisapprove]="ShowDisapprove"
  >
  </app-toolbar>
</ion-header>

<ion-content scrollX="true" appScrollbarTheme class="header-table">
  <!-- <app-page-message [itemsLength]="items.length" [showSpinner]="pageConfig.showSpinner"></app-page-message> -->
  <app-data-table
    style="width: fit-content; min-width: calc(100% - 32px)"
    class="box-shadow responsive"
    [rows]="items"
    [trackBy]="'Id'"
    [(selectedRows)]="selectedItems"
    [showSpinner]="pageConfig.showSpinner"
    [showFilter]="pageConfig.isShowSearch"
    [(query)]="query"
    (dataInfinite)="loadData($event)"
    (filter)="onDatatableFilter($event)"
    (sort)="onSort($event)"
    (selectedRowsChange)="changeSelection($event)"
  >
    <datatable-column class="col-checkbox cell" [checkbox]="true"> </datatable-column>
    <datatable-column class="col-id cell" name="#" property="Id">
      <ng-template datatable-header-template>
        <div class="col-id cell" (click)="sortToggle('Id')">
          {{'Id' | translate}}
          <ion-icon class="min-btn" *ngIf="sort.Id" [name]="sort.Id == 'Id'?'arrow-down': 'arrow-up'"></ion-icon>
          <ion-icon
            class="min-btn"
            (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
            *ngIf="query.Id"
            name="search"
            color="primary"
          ></ion-icon>
        </div>
      </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div (click)="nav('pr-deal/'+i.Id,'forward')" class="col-id cell">{{i.Id}}</div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-name cell" name="Product" property="ItemName">
      <ng-template datatable-header-template>
        <div class="col-name cell">
          {{'Product' | translate}}
          <ion-icon
            class="min-btn"
            (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
            *ngIf="query.Id"
            name="search"
            color="primary"
          ></ion-icon>
        </div>
      </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div (click)="nav('pr-deal/'+i.Id,'forward')" class="col-name cell">{{i.ItemName}}</div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-UoM cell" name="Unit" property="ItemUoMName">
      <ng-template datatable-filter-template> </ng-template>
      <ng-template datatable-header-template>
        <div class="col-UoM cell">
          {{'Unit' | translate}}
          <ion-icon
            class="min-btn"
            (click)="pageConfig.isShowSearch = !pageConfig.isShowSearch"
            *ngIf="query.Id"
            name="search"
            color="primary"
          ></ion-icon>
        </div>
      </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div (click)="nav('pr-deal/'+i.Id,'forward')" class="col-UoM cell">{{i.ItemUoMName}}</div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-money cell" name="Selling price" property="OriginalPrice">
      <ng-template datatable-filter-template> </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div (click)="nav('pr-deal/'+i.Id,'forward')" class="col-money cell">
          {{i.OriginalPrice | number: '1.0-0'}} đ
        </div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-money cell" name="Price after discount" property="IsByPercent">
      <ng-template datatable-filter-template> </ng-template>
      <ng-template datatable-header-template>
        <div class="col-money cell">{{'Price after discount' | translate}}</div>
      </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div *ngIf="i.IsByPercent">
          {{i.OriginalPrice - i.OriginalPrice*i.DiscountByPercent/100 | number: '1.0-0'}} đ
        </div>
        <div *ngIf="i.IsByPercent == false">{{i.Price | number: '1.0-0'}} đ</div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-date cell" name="Time application" property="FromDate">
      <ng-template datatable-filter-template> </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div (click)="nav('pr-deal/'+i.Id,'forward')" class="col-date cell ion-text-wrap">
          {{i.FromDate | date: 'dd/MM/yyyy'}} -> {{i.ToDate | date: 'dd/MM/yyyy'}}
        </div>
      </ng-template>
    </datatable-column>

    <datatable-column class="col-time cell" name="Time slot" property="FromHour">
      <ng-template datatable-filter-template> </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div (click)="nav('pr-deal/'+i.Id,'forward')" class="col-time cell">{{i.FromHour}} - {{i.ToHour}}</div>
      </ng-template>
    </datatable-column>
    <datatable-column class="col-status cell" name="Status" property="Status">
      <ng-template datatable-filter-template>
        <select
          (change)="refresh()"
          class="c-input c-dropdown"
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="query.Status"
          [ngClass]="{active: query.Status}"
        >
          <option value="">{{'All' | translate}}</option>
          <option disabled value="">----------</option>
          <option *ngFor="let t of statusList" [value]="t.Code">{{t.Name}}</option>
        </select>
      </ng-template>
      <ng-template let-i="row" datatable-cell-template>
        <div (click)="nav('pr-deal/'+i.Id,'forward')" class="col-status cell">{{i.Status}}</div>
      </ng-template>
    </datatable-column>
  </app-data-table>

  <ion-infinite-scroll
    color="primary"
    threshold="20%"
    (ionInfinite)="loadData($event)"
    [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData"
  >
    <ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
