.table {
    .row {
        padding-right: 6px;
        background: var(--ion-color-tertiary-tint);
        min-width: 480px;
    }
    .col-id {
        max-width: 30px !important;
        min-width: 30px !important;
    }
    .col-UoM {
        max-width: 90px !important;
        min-width: 90px !important;
    }  
    .col-money {
        justify-content: flex-start;
        max-width: 115px !important;
        min-width: 115px !important;
        color: var(--ion-color-primary);
    }
    .col-sale {
        max-width: 100px !important;
        min-width: 100px !important;
    }
    .col-date {
        text-overflow: ellipsis;
        min-width: 150px !important;
        max-width: 150px !important;
    }  
    .col-max {
       
        min-width: 90px !important;
        max-width: 90px !important;
    } 
}

.header-box {
    .header-name {
        .total {
            .c-control {
                margin-bottom: 7px;
            }

            .c-input {
                text-align: right;
                color: var(--ion-color-primary);
            }

            .c-control .c-label {
                position: absolute;
                line-height: 3.8rem;
                margin-left: 9px;
                width: auto;
            }
        }
    }
}