ion-toggle{
    height: 14px;
    width: 40px;
    --handle-width: 13px;
    --handle-height: 10px;
    --handle-max-height: auto;
    --handle-spacing: 4px;
  
    --handle-border-radius: 6px;
    --handle-box-shadow: none;
}