<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{Condition.Title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button title="{{'erp.app.components.list-toolbar.add' | translate}}" (click)="addConditionForm()">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
      <ion-button title="{{'erp.app.pages.sale.sale-order.merge.close-modal' | translate}}" (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding" *ngIf="!showData">
  <app-page-message [itemsLength]="ConditionForm.length" [showSpinner]="pageConfig.showSpinner"></app-page-message>
  <div id="pr-program" style="position: absolute; z-index: 30005;"></div>
  <div class="table-contain">
    <section class="table">
      <form [formGroup]="formGroup">
      <ng-container formArrayName="ConditionForm">                       
        <div class="row"  *ngFor="let c of ConditionForm.controls; let i=index">
          <ng-container [formGroup]="c" >    
              <div class="cell">
                <ng-select (change)="saveItemChange(c)" [clearable]="false"  appendTo="#pr-program" formControlName="Attribute" class="c-input" [items]="AttributeOption"  bindLabel="Name" bindValue="Id" placeholder="Lọc theo"></ng-select>           
              </div>
              <div class="cell">
                <ng-select (change)="saveItemChange(c)"  [clearable]="false"  appendTo="#pr-program" formControlName="Operator" class="c-input" [items]="OperatorOption"  bindLabel="Name" bindValue="Id" placeholder="So sánh"></ng-select>           
              </div>  
              <div class="cell">
                <input type="text" (change)="saveItemChange(c)" formControlName="Value" class="c-input" placeholder="Value">
              </div>               
              <div class="ion-float-right">
                <ion-button (click)="removeConditionForm(i,c)" fill="outline" slot="end" size="small"><ion-icon name="trash-outline"></ion-icon></ion-button>
                <!-- <ion-button (click)="addConditionForm(i)" fill="outline" class="ion-float-right" size="small"><ion-icon name="add-circle-outline"></ion-icon></ion-button> -->
              </div>                                                 
          </ng-container> 
        </div>
      </ng-container>  
      </form>
    </section>
  </div>        
  <ng-container *ngIf="items?.length>0">
    <ion-item lines="none" class="border ion-margin-top" (click)="showData=!showData">
      <ion-text>Tìm thấy</ion-text>
      <ion-label slot="end">{{Count}} 
        <ion-text *ngIf="Condition.Type=='ITEM'">Sản phẩm</ion-text>
        <ion-text *ngIf="Condition.Type=='CONTACT'">Khách hàng</ion-text>
      </ion-label>
    </ion-item>
    
  </ng-container>
</ion-content>

<ion-content appScrollbarTheme class="header-table" *ngIf="showData">
	<div *ngIf="Data.length && pageConfig.showSpinner==false">
    <ion-button expand="block" fill="outline" (click)="showData=!showData">Back</ion-button>
		<section class="table">
			<ion-virtual-scroll [items]="Data" approxItemHeight="27px">
				<ng-container *virtualItem="let i; let itemBounds = bounds; let j = index;">
					<div class="row" [ngClass]="{odd: j % 2 != 0}" [ngClass]="{selected: i.checked}">				
						<div (click)="nav('pr-deal/'+i.Id,'forward')" class="col-id cell">
							{{i.Id}}
						</div>
						<div (click)="nav('pr-deal/'+i.Id,'forward')" class="col-name cell">
							{{i.Name}}
						</div>						
					</div>
				</ng-container>
			</ion-virtual-scroll>
		</section>
	</div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block">Áp dụng</ion-button>
  </ion-toolbar>
</ion-footer>